*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    overflow: auto;
}

body{
    width: 100%;
    height:100vh;
    display: block !important;
}

.contenedor-main-princ{
    min-width: 1001px;
    min-height: 562px;
    z-index: 80;
    position: relative;
    width: 100%;
    height: 89.3%;
    background: #161616;
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
    justify-content: space-between;
}
.contenedor-main-princ .contenedor-decoracion{
    position:absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}
.contenedor-main-princ .contenedor-decoracion .color{
    position: absolute;
    filter:blur(150px);
}


.contenedor-main-princ .contenedor-decoracion .color:nth-child(1){
    position: absolute;
    top: -300px;
    width: 600px;
    height: 600px;
    background: #005555;
}

.contenedor-main-princ .contenedor-decoracion .color:nth-child(2){
    position: absolute;
    top: 100px;
    left: 300px;
    width: 500px;
    height: 500px;
    background: #FFF56D;
}

.contenedor-main-princ .contenedor-decoracion .color:nth-child(3){
    position: absolute;
    top: 200px;
    left: 50px;
    width: 350px;
    height: 500px;
    background: #00d2ff;
}


.contenedor-main-princ .contenedor-decoracion .color:nth-child(4){
    position: absolute;
    top: 300px;
    left:800px;
    width: 500px;
    height: 500px;
    background: #005555;
}

.contenedor-main-princ .contenedor-decoracion .color:nth-child(5){
    position: absolute;
    top: 0px;
    left: 900px;
    width: 500px;
    height: 500px;
    background: #FFF56D;
}

.contenedor-main-princ .contenedor-decoracion .color:nth-child(6){
    position: absolute;
    top: -200px;
    left: 800px;
    width: 300px;
    height: 400px;
    background: #00d2ff;
}

.nav-lateral{
    position: absolute;
    height: 100%;   
    left: 0px;
    width: 70px;
    background: #161616;
    box-shadow: 10px 0 0 #06f5bdb3;
    overflow-x: hidden;
    border-left: 10px solid #161616;
    transition: 0.5s;
    z-index: 3;
    flex-grow: 0;
}

.nav-lateral:hover{
    width: 250px;
    z-index: 3;
}

.nav-lateral ul{
    position: relative;
    left: 0px;
    top: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 20px;
    list-style: none;
    overflow: hidden;
}

.nav-lateral ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.nav-lateral ul li.active{
    background-color: #06f5bdb3;
}

.nav-lateral ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.nav-lateral ul li a .icon{
    position: relative;
    display: flex;
    width: 60px;
    height:60px;
    align-items: center;
    justify-content: center;
}

.nav-lateral ul li a .icon img{
    height: 32px;
    width: 32px;
    position:relative;
    font-size: 1.5em;
    z-index: 1;
    margin-left:10px; 
}

.nav-lateral ul li a .title{
    position:relative;
    display: block;
    padding-left: 30px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.contenedor-main-princ .cv{
    display: flex;
    align-items: center;
    flex-grow: 2;
    margin-left: 80px;
}

.form{
    position: relative;
    height: 100%;
    width: 40%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    min-width: 440px;
    flex-grow: 1;
}
.form-decoracion{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.form .square{
    position: absolute;
    backdrop-filter:blur(5px);
    box-shadow: 0 25px  45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    background: rgba(255,255,255,0.1)   ;
    border-radius: 10px;
    animation: animacion-form 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes animacion-form{
    0%,100%{
        transform: translateY(-40px);
    }
    50%{
        transform: translateY(40px);
    }
}

.form .square:nth-child(1){
    top: 50px;
    right: 20px;
    width: 100px;
    height: 100px;  
}
.form .square:nth-child(2){
    top: 150px;
    left: 0px;
    width: 120px;
    height: 130px;
    z-index: 2;
}
.form .square:nth-child(3){
    bottom: 120px;
    right: 0px;
    width: 80px;
    height: 80px;
    z-index: 2;
}
.form .square:nth-child(4){
    bottom: 150px;
    left: 150px;
    width: 50px;
    height: 50px;  
}
.form .square:nth-child(5){
    top: 0px;
    left: 140px;
    width: 60px;
    height: 60px;  
}

.item-form{
    height: 90%;
    width: 90%;
    z-index: 1;
    display:none;
}

.form .item-form .form-contenedor{
    position: relative;
    margin: 1rem auto 0;
    width: 90%;
    color:#fff;
}

.form .item-form .form-contenedor h2{
    width: 100%;
    color: rgb(255,255,255);
    font-size: 30px;
    margin-bottom: 5px;
}

.form .item-form .form-contenedor .linea{
    height: 3px;
    width: 30%;
    background: rgba(255,255,255,0.7);
    margin-bottom: 20px;
}

.form .item-form .form-contenedor .check-form-active{
    display: flex;
    flex-direction: row;
}

.form .item-form .row :is(input:not([type = 'checkbox']), select){
    width: 100%;
    height: 2em;
    padding: 5px 15px;
    border-radius: 20px;
    background: rgba(255,255,255,0.3);
    outline: none;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    box-sizing: border-box;
}


.form .item-form .row select option {
    color: initial;
}

.form .item-form .row input:not([type = 'checkbox'])::placeholder{
    color: #fff;
}


.form .item-form .row{
    position: relative;
    width: 100%;
    display: grid;
    column-gap: 5px;
    margin: 7px 0px;
    color: #fff;
}

.form .item-form .row .col .inputBox{
    display:flex;
    flex-direction: column;
}

.form .item-form .row .col .inputCheckBox{
    display: flex;
    flex-direction: row;
}

.form .item-form .row .col .inputCheckBox .checkbox-contenedor{
    margin-right: 20px;
}

.form .item-form .row .col .inputBox .text{
    padding: 5px 5px;
}

.form .item-form .row textarea{
    height: 150px;
    margin: 7px 0;
    padding: 10px 15px;
    border-radius: 20px;
    background: rgba(255,255,255,0.3);
    border: none;
    outline: none;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    resize: none;
}

.form .item-form .row textarea::placeholder{
    color: #fff;
}

.form .item-form .row5050{
    grid-template-columns: auto auto;
}

.form .item-form .row7030{
    grid-template-columns: 70% auto;
}

.form .item-form .row4060{
    grid-template-columns: auto 60%;
}

.form .item-form .form-contenedor .continuar{
    height: 30px;
    position:relative;
    color: #666;
    background: #fff;
    border:none;
    border-radius: 20px;
    font-weight: 600;
    padding: 0 10px;
    cursor: pointer;
}
.form .item-form .form-contenedor form .continuar{
    margin: 20px 10px;
    width: 100px;
    float: right;
}

.activo{
    display: block;
    background: rgba(255,255,255,0.05);
    z-index: 2;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.form .item-form .checkbox-contenedor{
    position: relative;
    cursor: pointer;
    background: transparent;
    transition: 0.7s;
}

.form .item-form .checkbox-contenedor .checkbox{
    opacity: 0;
    z-index: 4;
    width: 40px;
    height: 20px;
    position:absolute;
    display: block;
}

.form .item-form .checkbox-contenedor .span{
    position:relative;
    display: block;
    width: 40px;
    height: 20px;
    border: 2px solid rgba(255,255,255,0.9);
    border-bottom: 2px solid rgba(255,255,255,0.5);
    border-right: 2px solid rgba(255,255,255,0.5);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    transition: 0.7s;
}

.form .item-form .checkbox-contenedor .indicator{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: linear-gradient(to bottom, #FFF, #D7E1CE);
    border-radius: 50%;
    transition: 0.7s;
}

.form .item-form .checkbox-contenedor .checkbox:checked ~ .indicator{
    box-shadow: 0 0 5px #FFF;
    left: 20px;
}

.form .item-form .checkbox-contenedor .checkbox:checked ~ .span{
    background: rgb(247, 221, 108); 
}

.vista-previa{
    position: relative;
    height: 100%;
    width: 40%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    min-width: 483px;
    flex-grow: 1;
}

#form-laboral{
    display:none;
}

.vista-previa > .plantilla-contenedor{
    width: 105mm;
    height: 148.5mm;
    background: #dff1ff;
    z-index: 3;
    position:relative;
}
.vista-previa .plantilla-contenedor > div{
    position: absolute;
    top: 0;
    left: 0;
}


.form .item-form .form-contenedor .form-plantilla img{
    width: 100px;
    height: 150px;
}
