@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
/*  * {outline: 1px solid red;}*/
body{
    font-family: "dm sans";
    min-height: 100vh;
    background: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.plantilla1{
    width: 105mm;
    height: 148.5mm;
    position: relative;
}

.plantilla1 #contenedor{
    font-family: "dm sans";
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #fdfcfc;
    
}   
.plantilla1 h1,h2{
    font-weight: 500;
    text-align: center;
}
.plantilla1 h4,b{
    font-weight: 500;
}
.plantilla1 header, section {
    width: 100%;
    
}

.plantilla1 header h1,.profesion{
    text-align: center;
    margin: 0;
    padding: 0.2em;
    background-color: #6e5958;
    color: #fff;
}

.plantilla1 .detalles {
    margin-top: 0em;
    display: flex;
    justify-content: space-between;
}


.plantilla1 .textocentrado{
    text-align: center;
}


.plantilla1 .detalles article,.detalles aside{
    width: 48%;
}
.plantilla1.detalles article.formacion{
    text-align: right;
}

.plantilla1.info{
    
    background-color: #fff;
}
.plantilla1.info ul{
    font-weight: 500;
    list-style: none;
}
.plantilla1.obj{
    width: 100%;
    font-weight: 500;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.plantilla1.lisma,.lisma2{
    margin-bottom: 0.5em;
}
.plantilla1.lisma+p,.lisma2+p{
    margin-top: 0;
}

.plantilla1 #contenedor footer{
    margin-top: auto;
}
.plantilla1 .listadehabilidades{
    padding: 0;
    list-style: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   
}
.plantilla1.listadehabilidades li{
    display: flex;
    flex-wrap: wrap;
}


.plantilla1 h2{
    background-color: #ddb1b0;
    padding: 5px;
}
.plantilla1 main{
    padding: 5px;
}
.plantilla1 .habi{
    text-align: center;
}
.plantilla1.listadehabilidades2{
    padding: 0;
    list-style: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;  
    text-align: center;
}
ul{
    list-style: none;   
}
.profesion{
    font-size: 9.8pt;        
    }
p{
        word-wrap: break-word;
        padding: 5px;
    }