@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
/* * {outline: 1px solid red;}*/
body{
    font-family: "dm sans";
    min-height: 100vh;
    background: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.plantilla3{
    width: 105mm;
    height: 148.5mm;
    position: relative;
}
.plantilla3 #contenedor{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #fcfdf6;
}   
.plantilla3 header h1,.profesion{
    text-align: center;
    margin: 0;
    padding: 0.2em;
}

.plantilla3 .detalles {
    margin-top: 1em;
    text-align: center;
    padding: 5px;
}
.plantilla3 .lisma,.lisma2{
    margin-bottom: 0.5em;
}
.plantilla3 .lisma+p,.lisma2+p{
    margin-top: 0;
}

.plantilla3 #contenedor footer{
    margin-top: auto;
}
.plantilla3 .listadehabilidades{
    padding: 0;
    list-style: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.plantilla3 .listadehabilidades li{
    display: flex;
    flex-wrap: wrap;
}

.plantilla3 .info{
    text-align: right;
    margin: 0em;
}
.plantilla3 h4{
    margin-top: 0em;
    margin-bottom: 0em;
}
.plantilla3 .formacion{
    margin-top: 0em;
}
.plantilla3 .habilidades{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.plantilla3 .head{
    display: flex;
    justify-content: space-between;
    padding: 5px ;
    background-color: #3f5e78;
    color: #f0d2cb;
}
.plantilla3 h2{
    background-color: #f0d2cb;
    padding: 5px;
}
.plantilla3 .obj{
    text-align: center;
}
.plantilla3 li{
    text-align: center;
}
.plantilla3 .habb{
    width: 45%;
}
.plantilla3 .listadehabilidades2{
    padding: 0;
    list-style: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;  
    text-align: center;
}
ul{
    list-style: none;
}
.profesion{
    font-size: 9.8pt;
}
p{
        word-wrap: break-word;
        padding: 5px;
    }