@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
	--fuente: Arimo, sans-serif;
	--tamanio-fuente-base: medium;
	--tamanio-fuente-xx-grande: calc(1rem * 1.2 * 1.2 * 1.2);
	--tamanio-fuente-x-grande: calc(1rem * 1.2 * 1.2);
	--tamanio-fuente-grande: calc(1rem * 1.2);
	--tamanio-fuente: 1rem;
	--tamanio-fuente-pequenio: calc(1rem / 1.2);
	--tamanio-fuente-x-pequenio: calc(1rem / 1.2 / 1.2);
	--interlineado: 1.5;
	--interlineado-alt: 1.3;
	--espacio: 1rem;
	--ancho-main: 70ch;
	--ancho-contenedor: 19cm;
}

.plantilla5 *, *::before, *::after {
	box-sizing: border-box;
}
.plantilla5 html:focus-within {
	scroll-behavior: smooth;
}
.plantilla5 body {
	font: 1rem/var(--interlineado) var(--fuente);
	text-rendering: optimizeSpeed;
}
@media screen {
	body {
		margin: 0;
		min-height: 100vh;
                background: #161616;
                display: flex;
                align-items: center;
                justify-content: center;
	}
}
.dimension_plantilla5{
    width: 105mm;
    height: 148.5mm;
    position: relative;
}
.plantilla5 h1, h2, h3, h4 {
	line-height: var(--interlineado-alt);
	margin: 0 0 calc(var(--espacio) / 2);
}
.plantilla5 p, figure, blockquote, ul, ol, dl {
	margin: 0 0 var(--espacio);
	padding: 0;
}
.plantilla5 a:not([class]) {
	text-decoration-skip-ink: auto;
}
.plantilla5 input, button, textarea, select {
	font: inherit;
}
.plantilla5 ul[role='list'], ol[role='list'] {
	list-style: none;
}
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	*, *::before, *::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

.plantilla5 .contenedor {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	max-width: var(--ancho-contenedor);
}

@media screen {
	#masthead {
		color: wheat;
		background-color: brown;
	}
	#masthead > .contenedor {
		padding: 0 var(--espacio) max(1px, .1em);
	}
	#masthead, #personales, #mainWrap > main {
		padding-top: var(--espacio);
	}
	#personales {
		padding: var(--espacio) var(--espacio) max(1px, .1em);
	}
}
.plantilla5 #mainWrap {
    display: flex;
	gap: var(--espacio);
}
.plantilla5 #personales {
	background-color: beige;
}
.plantilla5 #mainWrap > main {
    flex: 1 0 min(61.8%, var(--ancho-main));
}