@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root {
	--fuente: Open Sans, sans-serif;
	--tamanio-fuente-base: medium;
	--tamanio-fuente-xx-grande: calc(1rem * 1.2 * 1.2 * 1.2);
	--tamanio-fuente-x-grande: calc(1rem * 1.2 * 1.2);
	--tamanio-fuente-grande: calc(1rem * 1.2);
	--tamanio-fuente: 1rem;
	--tamanio-fuente-pequenio: calc(1rem / 1.2);
	--tamanio-fuente-x-pequenio: calc(1rem / 1.2 / 1.2);
	--interlineado: 1.5;
	--interlineado-alt: 1.3;
	--espacio: 1rem;
	--ancho-main: 70ex;
	--ancho-contenedor: calc(var(--ancho-main) * 1);
}

.plantilla7 *, *::before, *::after {
	box-sizing: border-box;
}
.plantilla7 html:focus-within {
	scroll-behavior: smooth;
}
body {
	font: 1rem/var(--interlineado) var(--fuente);
	text-rendering: optimizeSpeed;
}
.dimension{
    width: 105mm;
    height: 148.5mm;
}
.plantilla7 h1, :is(article, aside, nav, section) h1 {
	font-size: var(--tamanio-fuente-xx-grande);
}
.plantilla7 h2, :is(article, aside, nav, section) :is(article, aside, nav, section) h1 {
	font-size: var(--tamanio-fuente-x-grande);
}
.plantilla7 h3, :is(article, aside, nav, section) :is(article, aside, nav, section) :is(article, aside, nav, section) h1 {
	font-size: var(--tamanio-fuente-grande);
}
.plantilla7 h4, :is(article, aside, nav, section) :is(article, aside, nav, section) :is(article, aside, nav, section) :is(article, aside, nav, section) h1 {
	font-size: var(--tamanio-fuente);
}
@media screen {
	body {
		margin: 0;
		min-height: 100vh;
	}
}
.plantilla7 h1, h2, h3, h4 {
	line-height: var(--interlineado-alt);
	margin: 0 0 calc(var(--espacio) / 2);
}
.plantilla7 p, figure, blockquote, ul, ol, dl {
	margin: 0 0 var(--espacio);
	padding: 0;
}
.plantilla7 a:not([class]) {
	text-decoration-skip-ink: auto;
}
.plantilla7 input, button, textarea, select {
	font: inherit;
}
.plantilla7 ul[role='list'], ol[role='list'] {
	list-style: none;
}
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	*, *::before, *::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

.plantilla7 .contenedor {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	max-width: var(--ancho-contenedor);
}

.plantilla7 #personales, .detalleExperiencia {
	display: flex;
	justify-content: space-between;
	gap: var(--espacio);
}
.plantilla7 #personales > * {
	flex: 0 1 50%;
}
.plantilla7 .detalleExperiencia > section {
	flex: 1 0;
}
.plantilla7 .detalleExperiencia {
	flex-wrap: wrap;
}
.detalleExperiencia > header {
	flex: 1 0 100%;
}
@media screen {
	#mainWrap {
		display: flex;
		flex-wrap: wrap;
	}
	#masthead {
		color: white;
		background-color: indigo;
		padding: 0 var(--espacio);
		flex: 1 0 100%
	}
	#masthead h1 {
		line-height: 1;
		margin: var(--espacio) 0;
	}
	#personales {
		padding-top: var(--espacio);
		border-top: .1em solid;
	}
	#mainWrap > main {
		padding-top: var(--espacio);
		flex: 0 0 var(--ancho-main)
	}
}