<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
      lang="es" class="pagFormCambiarContrasenia">
    <head>
        <title>Eggenerator</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/img/logo-favicon.png" >
        <mvc:resources mapping="/static/**" location="/static/" />
        <link rel="stylesheet" href="/css/css.css" />
        <link rel="stylesheet" href="/css/plantilla.css" />
        <link rel="icon" href="/img/logo-img.jpeg">
        
    </head>
    <body>
        <div th:replace="/plantilla :: header"/>
        <div class="contenedor">
            <main>
                <div th:if="${param.exito}">
                    Se cambio la contraseña de forma exitosa
                </div>
                <div th:if="${param.fallo}">
                    Contraseña actual incorrecta
                </div>
                <form th:action="@{/registro/changePassword}" method="post">
                    <input type="hidden" th:value="${#authentication.getPrincipal().getUsername()}" name="email">
                        <div class="form-grupo">
                           <label for="formChangePassword_passwordActual">Contraseña actual:</label>
                            <input type="text" name="passwordActual" id="formChangePassword_passwordActual" class="controlForm" />
                        </div>
                        <div class="form-grupo">
                            <label for="formChangePassword_passwordNueva">Nueva contraseña</label>
                            <input type="text" name="passwordNueva" id="formChangePassword_passwordNueva" class="controlForm" />
                        </div>
                    <button type="submit"  class="boton boton-primario">Aceptar</button>
                </form>
            </main>
        </div>
    </body>
</html>
