<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      lang="es" class="pagHome">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Eggenerator</title>
        <link rel="stylesheet" href="/css/css.css" />
        <link rel="stylesheet" href="/css/plantilla.css" />
        <link rel="shortcut icon" href="/img/logo-favicon.png" >
        <mvc:resources mapping="/static/**" location="/static/" /> 
</head>
<body >
    <div th:replace="/plantilla :: header">
    </div>
	<div id="homeHero">
		<div class="contenedor">
			<div class="texto-centro">
				<h2>Te ayudamos a desarrollar tu CV desde cero</h2>
				<p>Te ofrecemos variedad de plantillas para que puedas compartir todos tus datos, definir tu perfil y explorar todas tus habilidades.</p>
				<a href="/" class="boton boton-primario">Creá tu CV</a>
			</div>
			<div id="homeHeroPlantillas">
				<img src="/img/miniaturas/plantilla2miniatura.png" alt="" />
				<img src="/img/miniaturas/plantilla3miniatura.png" alt="" />
				<img src="/img/miniaturas/plantilla4miniatura.png" alt="" />
				<img src="/img/miniaturas/plantilla5miniatura.png" alt="" />
				<img src="/img/miniaturas/plantilla1miniatura.png" alt="" />
				<img src="/img/miniaturas/plantilla6miniatura.png" alt="" />
			</div>
		</div>
	</div>
	<div class="contenedor" id="mainWrap">
		<main>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit amet aliquid minima soluta, molestiae deleniti nemo blanditiis qui magnam tempore optio animi vero aut? Adipisci libero laborum maxime quis labore.</p>
		</main>
	</div>
    <footer th:replace="/plantilla :: footer" id="pie"></footer>
</body>
    <script>

        //Javascript del fondo de pantalla -> el tag section
        
         const colors = ['#06f5bdb3',
         '#f8d951'];
         
         
         function createSquare() {
         const section = document.querySelector('section#cuadrados');
         const square = document.createElement('span');
         
         var size = Math.random() * 50;
         
         square.style.width = 20 + size + 'px';
         square.style.height = 20 + size + 'px';
         
         square.style.top = Math.random() * innerHeight + 'px';
         square.style.left = Math.random() * innerWidth + 'px';
         
         const bg = colors[Math.floor(Math.random() * colors.length)];
         square.style.background = bg;
         
         section.appendChild(square);
         
         setTimeout(() => {
         square.remove();
         }, 5000);
         }
         
         setInterval(createSquare, 150);
    </script>
</html>