<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eggenerator</title>
	<link rel="stylesheet" href="css/css.css">
</head>
<body>
	<header aria-label="Cabecera principal">
		<div class="contenedor">
			<a href="/" class="headerBranding">CV Generator</a>
			<nav>
				<span aria-current="page">Plantillas</span>
				<a href="/usuario/login">Iniciar sesión</a>
				<a href="/usuario/registro">Registrate</a>
				<a href="/home/contacto">Contacto</a>
			</nav>
		</div>
	</header>
    <div class="contenedor" id="mainWrap">
        <main>
            <header>
                <h1>Lista de plantillas</h1>
            </header>
            <ul id="listaPlantillas">
                <li>
                    <a href="#">
                        <img src="https://via.placeholder.com/400.png/09f/fff" alt="..." width="100" height="100">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://via.placeholder.com/400.png/09f/fff" alt="..." width="100" height="100">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://via.placeholder.com/400.png/09f/fff" alt="..." width="100" height="100">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://via.placeholder.com/400.png/09f/fff" alt="..." width="100" height="100">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://via.placeholder.com/400.png/09f/fff" alt="..." width="100" height="100">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://via.placeholder.com/400.png/09f/fff" alt="..." width="100" height="100">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://via.placeholder.com/400.png/09f/fff" alt="..." width="100" height="100">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://via.placeholder.com/400.png/09f/fff" alt="..." width="100" height="100">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://via.placeholder.com/400.png/09f/fff" alt="..." width="100" height="100">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://via.placeholder.com/400.png/09f/fff" alt="..." width="100" height="100">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://via.placeholder.com/400.png/09f/fff" alt="..." width="100" height="100">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://via.placeholder.com/400.png/09f/fff" alt="..." width="100" height="100">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://via.placeholder.com/400.png/09f/fff" alt="..." width="100" height="100">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://via.placeholder.com/400.png/09f/fff" alt="..." width="100" height="100">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://via.placeholder.com/400.png/09f/fff" alt="..." width="100" height="100">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://via.placeholder.com/400.png/09f/fff" alt="..." width="100" height="100">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://via.placeholder.com/400.png/09f/fff" alt="..." width="100" height="100">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://via.placeholder.com/400.png/09f/fff" alt="..." width="100" height="100">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://via.placeholder.com/400.png/09f/fff" alt="..." width="100" height="100">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://via.placeholder.com/400.png/09f/fff" alt="..." width="100" height="100">
                    </a>
                </li>
            </ul>
        </main>
    </div>
	<footer id="pie">
		<div class="contenedor">
			Copyright.
			<a href="/">Términos</a>
		</div>
	</footer>
</body>
</html>