<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      lang="es" class="pagFormRegistro">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Eggenerator</title>
        <link rel="shortcut icon" href="/img/logo-favicon.png" >
        <mvc:resources mapping="/static/**" location="/static/" />
        <link rel="stylesheet" href="/css/css.css" type="text/css">
        <link rel="stylesheet" href="/css/plantilla.css" type="text/css">
        
    </head>
    <body>
        <section th:replace="/plantilla :: fondo"></section>
        <div th:replace="/plantilla :: header" />
        <div class="contenedor" id="mainWrap">
            <main>
                <header>
                    <h1>Registro</h1>
                </header>
                <div th:if=${param.exito}>
                    <div class="alert alert-info">Se ha registrado exitosamente a
                        la aplicación</div>
                </div>
                <div th:if=${param.fail}>
                    <div class="alert alert-info">El mail ya se encuentra registrado</div>
                </div>
                <form th:action="@{/registro}" method="post" th:object="${usuario}">
                    <div>
                        <label for="FormRegistroCampoEmail">E-mail</label>
                        <input type="email" name="username" class="controlForm" id="FormRegistroCampoEmail" th:field="*{email}" required autofocus="autofocus">
                    </div>
                    <div>
                        <label for="FormRegistroCampoContrasenia">Contraseña</label>
                        <input type="password" name="password" class="controlForm" id="FormRegistroCampoContrasenia" required th:field="*{password}">
                    </div>
                    <!--
                    <div>
                        <label for="FormRegistroCampoContraseniaConfirmar">Confirmar contraseña</label>
                        <input type="password" name="passwordConfirmar" class="controlForm" id="FormRegistroCampoContraseniaConfirmar"  
                               required autofocus="autofocus">
                    </div>   -->
                    <button type="submit" class="boton boton-primario">Registrar</button>
                    <a th:href="@{/login}" class="boton">Regresar</a>
                </form>
            </main>
        </div>
        <footer id="pie">
            <div class="contenedor">
                Copyright.
                <a href="/">Términos</a>
            </div>
        </footer>
    </body>
    <script>

        const list = document.querySelectorAll(".list");
        function activeLink() {
            list.forEach((item) => item.classList.remove("active"));
            this.classList.add("active");
        }
        list.forEach((item) => item.addEventListener("click", activeLink));

        //Javascript del fondo de pantalla -> el tag section
        
         const colors = ['#06f5bdb3',
         '#f8d951'];
         
         
         function createSquare() {
         const section = document.querySelector('section#cuadrados');
         const square = document.createElement('span');
         
         var size = Math.random() * 50;
         
         square.style.width = 20 + size + 'px';
         square.style.height = 20 + size + 'px';
         
         square.style.top = Math.random() * innerHeight + 'px';
         square.style.left = Math.random() * innerWidth + 'px';
         
         const bg = colors[Math.floor(Math.random() * colors.length)];
         square.style.background = bg;
         
         section.appendChild(square);
         
         setTimeout(() => {
         square.remove();
         }, 5000);
         }
         
         setInterval(createSquare, 150);
    </script>
</html>