<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/template1.css">
    </head>
    <body>
        <div class="dimension_plantilla4" >
        <header id="masthead">
            <div class="contenedor">
                <h1 id="p-nombre"></h1>
            </div>
        </header>
        <div class="contenedor">
            <main>
                <article class="detalle">
                    <header>
                        <h2>Objetivos</h2>
                    </header>
                    <p id="p-objetivos"></p>
                </article>
                <div class="personal">
                    <article class="detalle perfil">
                        <header>
                            <h2></h2>
                        </header>
                        <p id="p-resumen"></p>
                    </article>
                    <article class="detalle datos">
                        <header>  <h2>Datos Personales</h2>             
                        </header>
                        <ul role="list">
                            <li>
                                <strong id="p-edad"></strong>
                            </li>
                            <li>
                                <strong id="p-direccion"></strong>

                            </li>
                            <li>
                                <strong id="p-telefono"></strong>

                            </li>
                            <li>
                                <strong id="p-correo"></strong>

                            </li>
                        </ul>
                    </article>
                </div>
                <article class="detalle">
                    <header>
                        <h2>Educación</h2>
                    </header>
                    <ul id="p-academicos">	
                    </ul>
                </article>
                <article class="detalle detalleExperiencia">
                    <header>
                        <h2>Experiencia laboral</h2>
                        <ul id="p-trabajos">						
                        </ul>
                    </header>
                    <section>
                        <h3>Conocimientos</h3>
                        <ul id="p-conocimientos">						
                        </ul>
                    </section>
                    <section>
                        <h3>Idiomas</h3>
                        <ul id="p-idiomas">                  
                        </ul>
                    </section>
                </article>
                <article class="detalle">
                    <header>
                        <h2>Aptitudes</h2>
                    </header>
                    <ul id="p-aptitudes">	
                    </ul>
                </article>
            </main>
        </div>
        </div>
    </body>
</html>
