<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/template4.css">
    </head>
    <body>
        <div class="dimension plantilla7">
        <div class="contenedor" id="mainWrap">
            <header id="masthead">
                <h1 id="p-nombre"></h1>
                <div id="personales">
                    <article class="detalle datos">
                        <header><h2>Datos Personales</h2></header>
                        <ul role="list">
                            <li>
                                <strong id="p-edad"></strong>
                            </li>
                            <li>
                                <strong id="p-direccion"></strong>
                            </li>
                            <li>
                                <strong id="p-telefono"></strong>
                            </li>
                            <li>
                                <strong id="p-correo"></strong>
                            </li>
                        </ul>
                    </article>
                    <article class="detalle perfil">
                        <header>
                            <h2>Objetivos</h2>
                        </header>
                        <p id="p-objetivos"></p>
                    </article>
                </div>
            </header>
            <main>
                <article class="detalle">
                    <header>
                        <h2>Historia académica</h2>
                    </header>
                    <ul id="p-academicos">
                    </ul>
                </article>
                <article class="detalle detalleExperiencia">
                    <header>
                        <h2>Conocimientos</h2>
                    </header>
                    <ul id="p-conocimientos">				
                    </ul>
                </article>
                <article class="detalle">
                    <header>
                        <h2>Idiomas</h2>
                    </header>
                    <ul id="p-idiomas">
                    </ul>
                </article>
                <article class="detalle">
                    <header>
                        <h2>Aptitudes</h2>
                    </header>
                    <ul id="p-aptitudes">					
                    </ul>
                </article>
            </main>
        </div>
        </div>
    </body>
</html>
