<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"  lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Plantilla 1</title>
        <mvc:resources mapping="/static/**" location="/static/" />
        <link rel="Stylesheet" href="/css/p1.css">
    </head>
    <body>
        <div th:fragment="plantilla_1" id="contenedor" class="plantilla1">

            <header>
                <h1 id="p-nombre"></h1>
                <h1 class="profesion" id="p-profesion"></h1>
            </header>
            <header class="info">
                <ul>
                    <li id="p-edad"></li>
                    <li id="p-direccion"></li>
                    <li id="p-telefono"></li>
                    <li id="p-correo"></li>
                </ul>

            </header>
            
            <header><h2 class="obj" >Resumen</h2>
                <p id="p-resumen"></p>
            </header>
            
            <main>
                <div class="detalles">
                    <article class="formacion">
                        <h2>Formacion</h2>

                        <ul class="lisma" id="p-academicos"></ul>
                        <!--                    <p class="der">Titulacion</p>
                                            <p class="der">Escuela</p>   
                                        
                                            <h4 class="lisma"><b>Inicio - fin</b></h4>
                                            <p class="der">Titulacion</p>
                                            <p class="der">Escuela</p>
                            
                                        <h4 class="lisma"><b>Inicio - fin</b></h4>
                                            <p class="der">Titulacion</p>
                                            <p class="der">Escuela</p>-->

                    </article>
                    <article>
                        <h2>Experiencia</h2>
                        <ul class="lisma2" id="p-trabajos"></ul>
                        <!--                            <p class="iz">Puesto de trabajo</p>
                                                    <p class="iz">Empresa</p>
                                        
                                        <h4 class="lisma2">Año</h4>
                                                    <p class="iz">Puesto de trabajo</p>
                                                    <p class="iz">Empresa</p>
                            
                                        <h4 class="lisma2">Año</h4>
                                                    <p class="iz">Puesto de trabajo</p>
                                                    <p class="iz">Empresa</p>-->

                    </article>
                </div>

                <article>
                    <h2 class="textocentrado">Idiomas</h2>
                    <ul class="listadehabilidades" id="p-idiomas">            
                    </ul>
                </article>
                <article>
                    <h2 class="textocentrado">Conocimientos</h2>
                    <ul class="listadehabilidades" id="p-conocimientos">             
                    </ul>
                </article>
                <article>
                <header>
                        <h2>Aptitudes</h2>
                    </header>
                    <ul class="listadehabilidades" id="p-aptitudes">	
                    </ul>
                </article>
            </main>  

        </div>



    </body>
</html>