<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla 3</title>
    <link rel="Stylesheet" href="/css/p3.css">
</head>
<body>
    <div id="contenedor" class="plantilla3">
        <div class="head">
        <header>
            <h1 id="p-nombre"></h1>
            <div class="profesion"id="p-profesion"></div>
        </header>
        <header class="info">
            <h4 id="p-edad"></h4><br><h4 id="p-direccion"></h4><h4 id="p-telefono"></h4><h4 id="p-correo"></h4>
        </header>
        </div>
        <header><h2 class="obj">Objetivo</h2>
            <p></p>
        </header>
    <main>
        <div class="detalles">
            <article class="formacion">
                <h2>Formacion</h2>
                
                <ul class="lisma" id="p-academicos"></ul>
<!--                    <p class="der">Titulacion</p>
                    <p class="der">Escuela</p>   
                
                    <h4 class="lisma"><b>Inicio - fin</b></h4>
                    <p class="der">Titulacion</p>
                    <p class="der">Escuela</p>
    -->
                
    
            </article>
            <article>
                <h2>Experiencia</h2>
                <ul id="p-trabajos"> </ul>
         </article>
        </div>
       <div class="habilidades">
        <article class="habb">
            <h2 class="textocentrado">Idiomas</h2>
            <ul class="listadehabilidades" id="p-idiomas">                         
            </ul>
        </article>
        <article class="habb">
            <h2 class="textocentrado">Conocimientos</h2>
            <ul class="listadehabilidades2" id="p-conocimientos">            
            </ul>
        </article>
           <article>
                <header>
                        <h2>Aptitudes</h2>
                    </header>
                    <ul class="listadehabilidades" id="p-aptitudes">	
                    </ul>
                </article>
    </div>
    </main>  
            
                
              
    </div>
    
 
</body>
</html>